main{
    width:100%;
    background-color: rgb(236, 195, 195);
}
*{
    /* border:1px solid; */
    box-sizing: border-box;
}

.greet{
    width:100%;
    background-image: url("../yanah.jpg");
    background-size: cover;
    height:400px;
}

.wallpapers{
    width:90%;
    margin:0px auto;
    padding:20px 10px;
    display: grid;
    grid-template-columns:repeat(3,auto);
    grid-template-rows: auto;
    gap: 5px;

}

.wallpaper{
    border:2px solid;
}
.wallpaper img{
    width:100%;
    
}